<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="age"/>
      <h1>저는 {{ age < 40 ? '청년' : '중년'}}입니다.</h1>
      <p v-bind:title="text">{{ aboutMe }}</p>
      <a href="" v-on:click.prevent="addAge">나이 증가</a>
    </div>
    <script>
      const instance = Vue.createApp({
        // template: ` 
        // <h1>저는 {{ age }}살 입니다.</h1>
        // <input type="text" v-model="age"/>
        // <button v-on:click="addAge">나이 증가</button>
        // `,
        data () { 
          return {
            age: 20,
            text: '오늘은 흐린 날씨다',
          } 
        },
        computed: {
          aboutMe() {
            return `저의 나이는 ${this.age}살 입니다.`;
          }
        },
        methods: {
          addAge() {
            this.age++;
          }
        },
        created() {
          console.log('make instance and connect soon with DOM');
        }
      });
      console.log(instance);
      instance.mount('#app');
    </script>
  </body>
</html>