<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app">
    <h1>칼로리 관리</h1>
    <input v-model="inputValue" type="text" placeholder="섭취한 칼로리를 입력하세요" />
    <button v-on:click="showInfo">입력</button>
    <p v-if="myKcal.length === 0">아직 입력하지 않았습니다.</p>
    <div v-else>
      <h2>칼로리 기록</h2>
      <ul>
        <li v-for="(item, i) in myKcal" :key="item.date">
          {{myKcal[i].date}} : {{myKcal[i].value + 'kcal'}}
          <a href="" @click.prevent="del(i)">삭제</a>
        </li>
        <!-- <li v-for="item in myKcal">{{item.date}} : {{item.value + 'kcal'}}</li> -->
        <!-- <li v-bind>{{myKcal[0].date}} : {{myKcal[0].value + 'kcal'}}</li> -->
      </ul>
    </div>
  </div>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          myKcal: [
            {date:'2023-02-07', value: 2000},
            {date:'2023-02-08', value: 1234},
            {date:'2023-02-09', value: 2123},
          ],
          inputValue: '',
        }
      },
      methods: {
        showInfo() {
          const date = new Date();
          const year = date.getFullYear();
          const month = date.getMonth() + 1;
          const day = date.getDate();
          this.myKcal.push({
            date: year+'-'+month+'-'+day,
            value: Number(this.inputValue),
          });
          this.inputValue = '';
        },
        del(idx) {
          this.myKcal.splice(idx, 1);
        },
      },
    });
    app.mount('#app');
  </script>
</body>
</html>